/*	N241 Final project
	By Shahbegh Singh Kalra
	date:04/25/2017
	CSS stylesheet
*/

body
{
	
	margin:0px;
	background-color:#2c3563;
	font-size:25px;
	font-family:"Arial",sans-Serif;
	color:#4e7899;
	position:initial;
}
img.home1
{
	width:100%;
	position:relative;
}
article.story1
{
	padding-left:200px;
	padding-right:200px;
}
img.story
{
    border-radius: 50%;
	float:left;
	
}

p.story
{
	padding-top:30px;
	text-align:center;
	/*Overwrote an inherited property*/
	font-size:18px;
}
/*Typography example*/
@font-face 
{
	font-family: 'Amatic-Bold';
	src: url('../font/Amatic-Bold.eot'); /* IE9 Compat Modes */
	src: url('../font/Amatic-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/Amatic-Bold.woff') format('woff'), /* Modern Browsers */
	url('../font/Amatic-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../font/Amatic-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
h1.home ,h2.how
{
	text-shadow: -3px 0 #253b5a, 0 3px #253b5a, 3px 0 #253b5a, 0 -3px #253b5a;
	position:absolute;
	top:90px;
	/*Typography used*/
	font-family:'Amatic-Bold';
	font-size:80px;
	color:#99d3ff;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}
h2
{
	text-shadow: -3px 0 #253b5a, 0 3px #253b5a, 3px 0 #253b5a, 0 -3px #253b5a;
	font-family:'Amatic-Bold';
	font-size:80px;
	color:#99d3ff;
	clear:both;
	text-align:center;
}
h2.how
{
	position:absolute;
	top:-10px;
	font-size:100px;
	color:#253b5a;
	text-shadow: -3px 0 #99d3ff, 0 3px #99d3ff, 3px 0 #99d3ff, 0 -3px #99d3ff;
	font-weight:bold;
}
/*required to put space between the
 absolutely positioned navigation bar contents*/
.spacer
{
	height: 100px;
	float:left;
	display:inline-block;
}
#spacer1
{
	width:90px;
}
#spacer2
{
	width:280px;
}
#spacer3
{
	width:130px;
}
#spacer4
{
	width:235px;
}
#spacer5
{
	width:215px;
}
/*styling navigation bar*/
#menu a
{	
	
	background-color:#1e4a75;
	margin-left:140px;
	position:absolute;
	top:0px;
    color:#99d3ff;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
	text-decoration:none;
	
}
/*navigation bar rollover(hover) effect*/
#menu a:hover
{
	background-color:#172035;
}

/*Styling the support/donate div part*/
div.support
{
	text-align:center;
	background-color:#3e4a75;
	margin-left:300px;
	margin-right:300px;
}
div.science
{
	margin-top:20px;
	border-radius:10px;
	border:2px solid black;
	padding:20px;
	margin-left:200px;
	margin-right:200px;
	background-color:#253b5a;
	color:#99b4da;
}
div.video
{
	background-image:url('../images/contact2.jpg');
	background-color:#3e4a75;
	border:5px solid black;
	border-radius:50%;
	width:100%;
}
/*video on science of meditation page styled*/
video
{
	display: block;
	margin: 0 auto;
	width:50%;
}
p.science
{
	text-align:center;
	text-decoration:underline;
}
/*ul and ol tag example*/
ul 
{
	list-style-type:square;
}
ol 
{
	list-style-type:upper-roman;
}
.how article
{
	margin:20px;
	padding:50px;
	background-color:#3e4a75;
	display:block;
	border-radius:10px;
}
h3
{
	text-decoration:underline;
	margin-left:0px;
	text-align:center;
}
div.how
{
	color:#5b93a3;
	margin:30px;
	padding:30px;	
}

header.how
{
	margin:50px;
	clear:both;
	text-align:center;
}
img.how
{
	
	width:100%;
	position:relative;
	margin-top:0px;
}
.how img
{
	float:left;
	padding-right:40px;
	position:initial;
}

#benefits
{
	text-align:center;
}
div.benefits
{
	border-radius:10px;
	text-align:center;
	width:70%;
	display:block;
	margin:auto;
	margin-top:100px;
	background-color:#2a283d;
	clear:both;
	border-width:5px;  
    border-style:double;
}
.benefits dt
{
	text-decoration:underline;
}
.benefits article 
{
	
	margin-right:50px;
	display:inline;
	text-align:center;
	
}
/*styles the border of image*/
.benefits img
{
	border:7px;
	border-style:double;
}
/*Aligns figurecaption to the centre of the image*/
.benefits article figcaption
{
	text-align:center;
}

dt
{
	/*Spacing between dt contents*/
	padding:20px;
}
div.benefit1
{
	padding:10px;
	text-align:left;
	margin:20px;
}
#guided tr
{
	text-align:center;
	margin:50px;
	padding:50px;
}
/*Style footer common to every page*/
footer 
{
	color:black;
	text-align:center;
	background-color:#7a838b;
	display:block;
	font-size:15px;
}
/*style contact page's content inside fieldset*/
fieldset.contact
{
	color:white;
	font-size:35px;
	display:block;
	background-color:#2a283d;
	padding:20px;
	margin-left:120px;
	margin-right:120px;
	clear:both;
}
input[type=text],[type=number],[type=email]
{
	width:30%;
	display:grid;
	background-color:#f2ebf0;
	border-radius:10px;
	margin:10px;
	float:right;
	clear:right;
}
input[type=radio]
{
	background-color:#f2ebf0;
	margin-right:100px;
	float:right;
	clear:right;
}
/*style the input types*/
.contact input[type=button], input[type=submit], input[type=reset] 
{
	margin-right:20px;
	color:white;
	background-color:#10333a;
	border-radius:10px;
	width:100px;
	float:right;
	clear:right;
	margin-right:50px;
}
textarea
{
	margin:10px;
	width:300px;
	height:100px;
	background-color:#f2ebf0;
	float:left;
}
.contact label
{
	color:white;
	padding:10px;
	margin-left:50px;
	float:left;
	clear:left;
}
.gender
{
	padding-left:100px;
}
fieldset.home
{
	text-align:center;
	margin:120px;
	background-color:#3e4a75;
}
fieldset.home p , legend
{
	color:#9495a5;
}
