/*
Name: Shahbegh Singh Kalra
Date: 02/25/17
*/
/*R8 done*/
.three
{
	-webkit-columns: 300px 2; /*Requirement 5:column content*/
}
body
{
	text-align:center;   /*Requirement 4: page is centered*/
	width:1250px;
	color:#003300;
	background-image:url("../images/cbd2.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin:20px 20px;
	font-weight:700;
}
img.two
{
	float:right; /*Requirement 7: float property used*/
	height:200px;
	width:200px;
}
h3
{
	padding:20px;
	font-size:25px;
}
header,footer
{
	font-family:"Arial";
}
#box1 {
   font-size: 16px;
   line-height: 1em;
}

#box2 {
   font-size: 16px;
   line-height: 1;
}

p {
   font-size: 12px;
}